.description-editor {
    .ql-editor {
      min-height: 150px;
    }
    
    .ql-toolbar {
      background-color: #f3f3f3;
    }
    
    .ql-container {
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }
  